<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
    <%= render "layouts/sidebar"%>
    <%end%>
<div class="row">
  <div class="col-12">
    <h2>
      <div class="float-right">
        <% if logged_in? %>
          <% if @user == current_user %>
            <%= @user.first_name + ' ' + @user.last_name%>
            <%= link_to 'Edit Account', edit_user_path(current_user), class: 'btn btn-tertiary' %>
            <%= link_to 'Delete Account', current_user, method: :delete, class: 'btn btn-tertiary' %>

          <% else %>
            <%= link_to 'Return to Homepage', root_path, class: 'btn btn-tertiary' %>
          <% end %>
        <% else %>
            <%= link_to 'Return to Homepage', root_path, class: 'btn btn-tertiary' %>
        <% end %>
      </div>
    </h2>
  </div>
</div>
</div>
</div>
